:root {
	--primary-color: #e50914;
}

*{
	box-sizing: border-box;
	margin: 0;
	border: 0;
}

body{
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #999;	
}

ul{
	list-style: none;
}

h1, h2, h3, h4{
	color: #fff;
}

a{
	color: #fff;
	text-decoration: none;
}

p{
	margin: 0.5rem 0;
}

img{
	width: 100%;
}

.showcase{
	width: 100%;
	height: 93vH;
	position: relative;
	background: url('./img/background.jpg') no-repeat center center/cover;
}

.showcase::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0,0,0, 0.6);
	box-shadow: inset 15px 12px 180px #000000, inset -120px -100px 180px #000000;
}
.showcase-top{
	position: relative;
	height: 100px;
	z-index: 2;
}

.showcase-top img{
	width: 170px;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
	margin-left: 3.5rem;
}

.showcase-content{
	display: flex;
	flex-direction: column;
	position: relative;;
	margin: auto;
	text-align: center;
	align-items: center;
	margin-top: 8rem;
	z-index: 2;
}

.showcase-content h1{
	font-weight: 700;
	font-size: 4.2rem;
	line-height: 1.1;
	margin-bottom: 1rem;
}

.showcase-content h2{
	color: #fff;
	font-weight: 400;
	font-size: 1.7rem;
	line-height: 1.25;
	margin-bottom: 2rem;
}

.showcase-content p{
	color: #fff;
	font-size: 1.2rem;
}
.showcase-top a{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}

/* Buttons */

.btn {
	display: inline-block;
	background: var(--primary-color);
	color: #fff;
	padding: 0.5rem 1.1rem;
	font-size: 1rem;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	outline: none;
	box-shadow: 0 1px 0 rgba(0,0,0, 0.45);
	border-radius: 0.5px;
}

.btn:hover{
	opacity: 0.9;
}

.btn-rounded{
	border-radius: 5px;
}

.btn-xl{
	font-size: 1.5rem;
	padding: 1.5rem 2.2rem;
	text-transform: uppercase;
}

.btn-l{
	font-size: 1rem;
	padding: 0.8rem 1.8rem;
	text-transform: uppercase;
}

.email{
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	margin-bottom: 0.2rem;
}

.email i{
	margin-left: 5px;
}
.email-text{
	background: #fff;
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
	padding-left: 0.5rem;
	padding-right: 25rem; 
}

.divider{
	border: 4px solid #1b1b1b;
}

.card{
	width: 100%;
	display: flex;
}

.card-content{
	margin-top: 10rem;
	margin-left: 13rem;
	width: 36%;
}
.card-content h1{
	font-weight: 700;
	font-size: 3rem;
	line-height: 1.1;
	margin-bottom: 1.2rem;
}

.card-content p{
	color: #fff;
	font-size: 1.7rem;
}

/* card-content left class*/
.left{
	margin-left: 3rem;
}

.qns-title{
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 2rem;
}
.qns-title h1{
	font-weight: 700;
	font-size: 3rem;
	line-height: 1.1;
	margin-bottom: 1.2rem;
}

.faqs{
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;
}

.faqs{
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #303030;
	width: 55%;
	margin-bottom: 0.4rem;
	color: #fff;
	font-size: 1.7rem;
	padding: 1.4rem 1.4rem;
}

.faqs i{
	position: absolute;
	margin-left: 50%;
}

.email-supp p{
	color: white;
	font-size: 1.2rem;
}

.links{
	margin-top: 2rem;
}
.links-inner{
	color: #303030;
	font-size: 0.8rem;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	align-items: flex-start;
}

.links-inner li{
	margin-bottom: 0.8rem;
}

.links-inner a{
	color: grey;
}

.links-inner a:hover{
	text-decoration-line: underline;
}

.gen-link{
	color: grey;
	font-size: 1rem;
	margin-left: 19.8rem;
	margin-top: 4rem;
}

.gen-link a{
	color: grey;
	font-size: 1rem;
}

.gen-link a:hover{
	text-decoration-line: underline;
}

.detail-tab-1{
	display: none;
	background: #303030;
	width: 55%;
	margin-bottom: 0.4rem;
	margin-top: -0.3rem;
	color: #fff;
	font-size: 1.7rem;
	padding: 1.4rem 1.4rem;
	transition: display 0.5s ease-in-out;
}

.detail-tab-1.show{
	display: block;
}

.detail-tab-2{
	display: none;
	background: #303030;
	width: 55%;
	margin-bottom: 0.4rem;
	margin-top: -0.3rem;
	color: #fff;
	font-size: 1.7rem;
	padding: 1.4rem 1.4rem;
	transition: display 0.5s ease-in-out;
}

.detail-tab-2.show{
	display: block;
}

.detail-tab-3{
	display: none;
	background: #303030;
	width: 55%;
	margin-bottom: 0.4rem;
	margin-top: -0.3rem;
	color: #fff;
	font-size: 1.7rem;
	padding: 1.4rem 1.4rem;
	transition: display 0.5s ease-in-out;
}

.detail-tab-3.show{
	display: block;
}

.detail-tab-4{
	display: none;
	background: #303030;
	width: 55%;
	margin-bottom: 0.4rem;
	margin-top: -0.3rem;
	color: #fff;
	font-size: 1.7rem;
	padding: 1.4rem 1.4rem;
	transition: display 0.5s ease-in-out;
}

.detail-tab-4.show{
	display: block;
}

.detail-tab-5{
	display: none;
	background: #303030;
	width: 55%;
	margin-bottom: 0.4rem;
	margin-top: -0.3rem;
	color: #fff;
	font-size: 1.7rem;
	padding: 1.4rem 1.4rem;
	transition: display 0.5s ease-in-out;
}

.detail-tab-5.show{
	display: block;
}

/* Sign IN Page*/
.signin{
	width: 100%;
	height: 140vH;
	position: relative;
	background: url('./img/background.jpg') no-repeat center center/cover;
}

.signin::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 140vH;
	z-index: 1;
	background: rgba(0,0,0, 0.6);
}

.signin-top{
	position: relative;
	height: 100px;
	z-index: 2;
}

.signin-top img{
	width: 170px;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
	margin-left: 3.5rem;
}

.signin-area{
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	z-index: 2;
	background: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(1px);
	width: 460px;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	border-radius: 3px;
	margin-bottom: 4px;
}

.signin-area h1{
	font-size: 2rem;
	margin-left: -45%;
	margin-top: 15%;
	margin-bottom: 2rem;
}

.textfield{
	background: #303030;
	margin-bottom: 0.8rem;
	width: 67%;
	padding: 1rem 1rem;
	border-radius: 4px;
}

.button-sg{
	background: var(--primary-color);
	padding: 1rem 1rem;
	width: 67%;
	text-align: center;
	border-radius: 5px;
	margin-top: 2rem;
	margin-bottom: 0.8rem;
}

.button-sg:hover{
	opacity: 0.8;
}

.afterbutton{
	width: 67%;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	font-size: 0.8rem;
}
.afterbutton input{
	margin-right: 0.4rem;
}

.afterbutton a{
	position: absolute;
	margin-left: 59%;
	color: grey;
	float: right;
	transform: translate(-50%, 0%);
}

.afterbutton a:hover{
	text-decoration-line: underline;
}

.facebook{
	width: 67%;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	margin-top: 4rem;
	font-size: 0.8rem;
	margin-bottom: 0.8rem;
}
.facebook img{
	width: 20px;
	margin-right: 0.5rem;
}

.facebook:hover{
	cursor: pointer;
}

.signup{
	width: 67%;
	margin-bottom: 0.8rem;
}

.signup a:hover{
	text-decoration-line: underline;
}

.captcha{
	width: 67%;
	font-size: 0.8rem;
	margin-bottom: 7.5rem;
}

.captcha a{
	font-size: 0.8rem;
	color: #0894fd;
}

.captcha a:hover{
	text-decoration-line: underline;
}

.footer{
	margin-top: 6rem;
	background-color: rgba(0,0,0,0.7);
	position: relative;
	z-index: 2;
	color: grey;
}

.footer a{
	color: 	#989898;
}

.footer .gen-link{
	padding-top: 2rem;
}

.sg-foot{
	display: grid;
	font-size: 0.8rem;
	max-width: 800px;
	margin-left: 17.3rem;
	margin-top: 1.6rem;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	align-items: flex-start;
}

.sg-foot a:hover{
	text-decoration-line: underline;
}

.lang-btn{
	color: #484848;
	margin-top: 2rem;
	margin-left: 19.8rem;
	background-color: rgba(0,0,0,0.9);
	font-size: 0.9rem;
	padding: 0.8rem 0.8rem;
	border: 1px solid #606060;
	width: 8rem;
	border-radius: 2px;
	margin-bottom: 2rem;
}

.lang-btn i{
	color: ;
	font-size: 1.1rem;
}

.lang-btn:hover{
	cursor: pointer;
}
